<mat-toolbar class="custom-toolbar">
  <div class="left-section">
    <img class="logo" src="education.svg" alt="BookStore Log" />
    <span class="title">Bookstore</span>

    <div class="search-bar">
      <mat-icon>search</mat-icon>
      <input matInput placeholder="Search ..." />
    </div>
  </div>

  <div class="right-section">
    <div class="profile">
      <button mat-icon-button>
        <mat-icon>person_outline</mat-icon>
        <span>Profile</span>
      </button>
    </div>
    <div class="cart">
      <button mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
        <span>Cart</span>
      </button>
    </div>
  </div>
</mat-toolbar>
