<mat-card>
  <img mat-card-image src="Image 7.png" alt="Book-Image" />
  <mat-card-content>
    <div class="book-details">
      <div class="book-title">Don't Make Me Think</div>
      <div class="book-author">by Steve Krug</div>

      <div class="book-rating">
        <span class="rating-box">4.5 ★</span>
        <span class="review-count">(20)</span>
      </div>

      <div class="book-price">
        <span class="current-price">Rs. 1500 </span>
        <span class="original-price">Rs. 2000</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
